/* ==========================================
Cards
========================================== */

.stats-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

margin-top:50px;

}

.stat-card{

background:white;

padding:40px;

text-align:center;

border-radius:20px;

box-shadow:var(--shadow-md);

transition:.3s;

}

.stat-card:hover{

transform:translateY(-8px);

}

.stat-card h3{

color:var(--primary);

font-size:42px;

}

.feature-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:50px;

}

.feature-card{

background:white;

padding:35px;

border-radius:20px;

text-align:center;

box-shadow:var(--shadow-md);

transition:.3s;

}

.feature-card:hover{

transform:translateY(-8px);

}

.feature-card i{

font-size:55px;

color:var(--primary);

margin-bottom:20px;

}

.service-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:40px;

}