/* ==========================================
   Reset
========================================== */

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:var(--font-family);

background:var(--light);

color:var(--dark);

line-height:1.7;

overflow-x:hidden;

}

img{

max-width:100%;

display:block;

}

a{

text-decoration:none;

color:inherit;

}

ul{

list-style:none;

}

button{

cursor:pointer;

border:none;

outline:none;

}

input,
select,
textarea{

font-family:inherit;

outline:none;

}